<div id ="one">
<nav class="navbar navbar-expand-lg ">
  <a class="navbar-brand" routerLink="">MediaBinge</a>
  <button class="navbar-toggler" type="button"  data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  </button>

  <div id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">

        <!-- added login functionality - TN -->
        <a  *ngIf="!username" class = "nav-link" routerLink="/login">Login</a> 
      </li>
      <li class="nav-item">
        <a class = "nav-link" routerLink="/forums">Forums</a>
      </li>
      <li  class="nav-item">
          <a *ngIf="username" class = "nav-link" routerLink="/profile">{{username}} Profile</a>
      </li>
      <li class="nav-item">
        <a class = "nav-link" routerLink="/forums/post">Post</a>
      </li>
      <li>
      <a class = "nav-link" routerLink="/" (click)="logout()">Logout</a> 
      </li>
    </ul>
  </div>
</nav>
</div>