
<div id = container>
    <h1 id = title>MediaBinge</h1>
    <div class="display">
      <div class="display-wheel">
        <div class="picture a">
          <img src="https://i.imgur.com/mxmC1qi.png" />
        </div>
        <div class="picture b">
          <img src="https://i.imgur.com/oSnp0ef.png" />
        </div>
        <div class="picture c">
          <img src="https://i.imgur.com/AwCauOm.png" />
        </div>
        <div class="picture d">
          <img src="https://i.imgur.com/mxmC1qi.png" />
        </div>
        <div class="picture e">
          <img src="https://i.imgur.com/oSnp0ef.png" />
        </div>
        <div class="picture f">
          <img src="https://i.imgur.com/AwCauOm.png" />
        </div>
        <div class="picture g">
          <img src="https://i.imgur.com/mxmC1qi.png" />
        </div>
        <div class="picture h">
          <img src="https://i.imgur.com/oSnp0ef.png" />
        </div>
        <div class="picture i">
          <img src="https://i.imgur.com/AwCauOm.png" />
        </div>
      </div>
    </div>
</div>
