


<div class="row mb-2">
    <div class="col p-4 d-flex flex-column position-static">
        <div><a class="nav-link" routerLink="/forums/movies">
          <h1>Movies and TV</h1>
        </a></div>
    <div class="card mb-4 shadow-sm">
      <a class="nav-link" routerLink="/forums/movies">
        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg"
          preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
          <title>Movies/TV</title>
          <rect width="100%" height="100%" fill="#55595c">
          </rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Movies/TV</text>
        </svg>
        </a>
        <div class="card-body">
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
            content. This content is a little bit longer.</p>
          <div class="d-flex justify-content-between align-items-center">

            <small class="text-muted">9 mins</small>
          </div>
        </div>
    </div>
  </div>
<!--Books-->
  <div class="col p-4 d-flex flex-column position-static">
      <div><a class="nav-link" routerLink="/forums/books">
        <h1>Books</h1>
      </a></div>
      <div class="card mb-4 shadow-sm">
        <a class="nav-link" routerLink="/forums/movies">
          <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg"
            preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
            <title>Movies/TV</title>
            <rect width="100%" height="100%" fill="#55595c">
            </rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Movies/TV</text>
          </svg>
          </a>
          <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>
            <div class="d-flex justify-content-between align-items-center">
  
              <small class="text-muted">9 mins</small>
            </div>
          </div>
      </div>
    </div>
</div>