
<!-- <div class="login-form">
  <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
  <label for="username-cred" class="sr-only">Username</label>
  <input #username type="text" class="form-control" placeholder="Username" required autofocus>

  <label for="password-cred" class="sr-only">Password</label>
  <input #password type="password" class="form-control" placeholder="Password" required>

  <button class="btn btn-lg btn-primary btn-block" (click)="login(username.value, password.value)">Sign in</button>
  <br>
  <div *ngIf="credentialsInvalid" class="alert alert-danger text-center" id="alert-msg" role="alert">
      Invalid Credentials!
  </div>
  <p class="mt-5 mb-3 text-muted">&copy; MediaBinge 2017-2019</p>
</div> -->
<div class="login-reg-panel">
		<div class="login-info-box">
			<h2>Have an account?</h2>
			<p>Lorem ipsum dolor sit amet</p>
			<label id="label-register" for="log-reg-show">Login</label>
			<input type="radio" name="active-log-panel" id="log-reg-show"  checked="checked">
		</div>
							
		<div class="register-info-box">
			<h2>Don't have an account?</h2>
			<p>Join our community!</p>
			<button><a routerLink = "/register">Register</a></button>
			<input type="radio" name="active-log-panel" id="log-login-show">
		</div>
							
		<div class="white-panel">
			<div class="login-show">
				<h2>LOGIN</h2>
				<!-- <input [value]="useremail" type="text" placeholder="Email">
				<input [value]="userpassword" type="password" placeholder="Password"> -->
				<label for="username-cred" class="sr-only">Username</label>
				<input #username type="text" class="form-control" placeholder="Username" required autofocus>
				<label for="password-cred" class="sr-only">Password</label>
				<input #password type="password" class="form-control" placeholder="Password" required>
				<button (click)="login(username.value, password.value)"class="btn btn-primary">LOGIN</button>
				<!-- <a href="">Forgot password?</a> -->
			</div>
			<!-- <div class="register-show">
				<h2>REGISTER</h2>
				<input type="text" placeholder="Email">
				<input type="password" placeholder="Password">
				<input type="password" placeholder="Confirm Password">
				<input type="button" value="Register">
			</div> -->
		</div>
	</div>
